<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rozpoznawanie emocji</title>
    <style>
        #result {
            width: 100%;
            height: 100px;
            color: #438233;
            font-size: 24px;
            padding: 0px;
        }
    </style>
</head>
<body>
    <h2>Prześlij plik audio</h2>
    <form id="uploadForm">
        <input type="file" id="audioFile" accept="audio/*" required>
        <button type="submit">Prześlij</button>
    </form>
    <br />
    <h2>Nagraj swój plik</h2>
    <button onclick="startRecording()">Start Recording</button>
    <button onclick="stopRecording()">Stop Recording</button>
    <br />
    <br />
    <button onclick="saveRecording()">Save Recording</button>
    <br />
    <br />
    <div id="recording_status"></div>
    <br />
    <br />
    <h2>Rozpoznana emocja:</h2>
    <div id="result"></div>
    <script src="static/main.js"></script>
</body>
</html>
